<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1 style="color:brown;background-color:black;text-align:center;border:double;border-color:aqua;font-size:small">
        Banglore
    </h1>

    <h2 style="color:coral">
        Shahdol
    </h2>

    <h3 style="color:red">
        Jabalpur
    </h3>

    <h4 style="color:violet">
        Manglore
    </h4>
    <h5>
        Burhar
    </h5>

    <h6>
        SON
    </h6>

    <p style="color:blue">
        Apple Inc. is an American multinational technology company that specializes in consumer electronics,
        software and online services headquartered in Cupertino, California, United States. Apple is the largest technology company by revenue (totaling US$365.8 billion in 2021) and, as of June 2022, is the world's biggest company by market capitalization, the fourth-largest personal computer vendor by unit sales and second-largest mobile phone manufacturer. It is one of the Big Five American information technology companies, 
        alongside Alphabet, Amazon, Meta, and Microsoft.
    </p>

    <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsb2d8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="Alternate Text" />
    <br />
    <br />
    <form>
       <div>
           <label>Name</label>
           <input type="text" id="fn" class="fntest" style="border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; border-color:aqua" />
       </div>

        <div>
            <label>Email</label>
            <input type="email" id="email" class="emaitest" style="border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  border-color:aqua"/>
        </div>
         <div>
             <label>Pasw</label>
            <input type="password" id="psw" style="border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  border-color:aqua"/>
        </div>

        <div>
            <input type="submit" value="Save" style="border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; text-align:center;    margin-left: 70px;
    margin-top: 10px;  border-color:red" />
        </div>
    </form>
   
</html>


